<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>

<strong>Email:</strong>
<%= @user.email_address %><br>

<strong><%= @user.first_name %>'s Videos:</strong>
<hr>
<% @user.videos.each do |video| %>
  <%= link_to video.title, video %>
  <p><%= video.description %></p>
<hr>
<% end %>